<!-- Appel des composants formulaire et résultat -->
<app-carbon-footprint-form></app-carbon-footprint-form>
<app-carbon-footprint-result></app-carbon-footprint-result>

<p>Consommation totale : {{ consommationPour100Km * distanceKm / 100 }} L</p>
<p>Distance totale : {{ distanceKm }} km</p>
<p>Consommation pour 100 km : {{ consommationPour100Km }} L</p>

<p *ngIf="consommationPour100Km > 7">Attention, votre consommation est élevée</p>

<p *ngIf="consommationPour100Km < 4">Félicitations, votre consommation est faible</p>

<p [ngStyle]="{'color': consommationPour100Km > 7 ? 'red' : consommationPour100Km < 4 ? 'green' : 'black'}">
    Consommation pour 100 km : {{ consommationPour100Km }} L
</p>

<p [ngClass]="{'haute-distance': distanceKm > 500, 'basse-distance': distanceKm < 100}">
    Distance totale : {{ distanceKm }} km
</p>

